body{
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-weight: 300;
    font-size: 13px;
    overflow-x: hidden;
    color: #3e4855;
}
/*Loader*/
#loading {
    z-index: 5555 !important;
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    padding-top: 12% !important;
    background: #fff !important;
}
.loader {
    width: 100px;
    height: 100px;
    float: left;
    line-height: 100px;
    text-align: center;
}
.loader img {
     vertical-align: middle;
 }
.input-group-addon .addon-inside {
    line-height: 24px;
    position: absolute;
    top: 5px;
    left: 6px;
    display: block;
    width: 32px;
    height: 24px;
    padding: 0;
    border-width: 1px;
    border-style: solid;
}
.center-vertical {
    position: relative;
    z-index: 15;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
}
.center-vertical .center-content {
    display: table-cell;
    vertical-align: middle;
}
.center-margin {
    float: none !important;
    margin: 0 auto;
}
/*********Dashboard**********/
body {
    background-color: #f8f8f8;
}
#wrapper {
    width: 100%;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}
/**********Menu**********/
.div-logo-menu{
    width: 250px;
    background-color: #3987c9;
    position: absolute;
    padding-left: 76px;
}
.menu-picture{
    height: 70px;
}
.user-name-top-link{
    position: relative;
    color: #3987c9;
}
.dropdown-picture{
    width: 23px;
    position: relative;
    right: 5%;
    top: -2px;
}
.dropdown-button{
    cursor: pointer;
}
.caret-dropdown{
    left: 6%;
    position: relative;
}
.user-info{
    padding: 20px;
}
.navbar-static-top{
    margin-bottom: 0;
    min-height: 70px;
}
.navbar-top-links {
    width: auto;
    min-width: 0;
    margin-right: 3%;
    margin-top: 1.5%;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}
/*********Sidebar************/

.sidebar{
    font-size: 11pt;
    padding: 15px;
    margin-top: 70px;
}
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li.active > a {
    background-color: #eee;
    text-decoration: none !important;
}
.sidebar .arrow {
    float: right;
}
.sidebar .nav-second-level li a {
    padding-left: 37px;
}
@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 70px;
    }
}
@media(max-width:768px) {
    .navbar-static-top{
        height: 20px !important;
    }
    .menu-picture{
        height: 60px;
    }
    .div-logo-menu{
        width: 10px;
        margin-top: 4px;
        margin-left: 15px;
        padding-left: 0;
    }
    .navbar-top-links{
        margin-left: 45%;
        margin-top: 5%;
    }
    .sidebar {
        margin-top: 4% !important;
    }
    .user-name-top-link{
        float: bottom;
        clear: both;
        position: relative;
    }
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .collapse .in .arrow:after,
.nav-side-menu li .collapse .in .arrow:after {
    font-family: FontAwesome;
    content: "\f079";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
    text-decoration: none !important;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}.nav-side-menu ul,
 .nav-side-menu li {
     list-style: none;
     padding: 0px;
     margin: 0px;
     line-height: 35px;
     cursor: pointer;
 }
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
body {
    margin: 0px;
    padding: 0px;
}
li>a, a:hover, a:active, ul>a {
    text-decoration: none !important;
}
.menu-content ul>a>li {
    margin-left: 34px;
}
/**************Table*****************/
.edit-col{
    width: 100px;
}
/*************CRUD**************/

.select-custom {
    margin-top: 1px;
    min-width: 182px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    border-color: #cccccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    height: 30px !important;
}