.frm-logo-img{
    width: 22%;
    left: 40%;
    position: relative;
    border-radius: 10px;
}
.bg-gray-login{
    background: #3a3a3a;
    height: 100%;
    position: absolute;
}
.frm-login-icon{
    color: #3987c9;
    font-size: 12pt;
    padding-top: 5px;
}
.frm-btn-login{
    color: #ffffff !important;
    background: #3987c9;
    border: none;
    width: 40%;
    height: 42px !important;
}
.frm-btn-login:hover, .frm-btn-login:active{
    color: #ffffff !important;
    background: #3987c9ed;
    border: none;
}
.frm-input-login{
    font-size: 12pt;
    height: 40px;
}
.login-centered{
    width: 100%;
    padding-left: 15%;
    padding-right: 20%;
}
#login-form{
    border-radius: 10px;
    padding-top: 2%;
}
.btn-pane-top-line{
    border-top-color: #eeeeee;
    border-top-style: solid;
    border-top-width: 1px;
}
.login-alert{
    margin-top: 5% !important;
    margin-bottom: 0 !important;
}